.divCard{
    background-color: rgb(213, 138, 41);
    list-style: none;
    width: 200px;
    height:150px;
    margin-left: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: large;
    font-weight: bold;
}
.descript{
    font-size: 10px;
}